<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body background="/images/backgroundmsc.jpg" style="background-repeat: no-repeat; background-size: 100% 100% ; background-attachment: fixed;" >

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      {%- if page.category == home -%}
      <div style="text-align: center;"><img src="/images/home.png" alt="Fail" width=100%/></div>
      {%- elsif page.category == "Python" -%}
      <img src="/Python/Python.png" alt="Fail" />
      {%- elsif page.category == "IELTS" -%}
      <div style="text-align: center;"><img src="/images/IELTS.svg" alt="Fail" width= 60%/></div>
      {%- elsif page.category == "Swift/iOS" -%}
      <img src="/Swift-iOS/Swift.png" alt="Fail"/>
      {%- elsif page.category == "About" -%}
      <div style="text-align: center;"><img src="/images/About.png" alt="Fail"/></div>
      {%- endif -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
