<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body background="/images/backgroundmsc.jpg" style="background-repeat: no-repeat; background-size: 100% 100% ; background-attachment: fixed;" >

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      {%- if page.category == home -%}
      <div style="text-align: center;"><img src="/images/home.png" alt="Fail" width=100%/></div>
      {%- elsif page.category == "Courses" -%}
      <div style="text-align: center;"><img src="/images/Courses.jpg" alt="Fail" width= 60%/></div>
      {%- elsif page.category == "IELTS" -%}
      <div style="text-align: center;"><img src="/images/IELTS.svg" alt="Fail" width= 60%/></div>
      {%- elsif page.category == "Interests" -%}
      <div style="text-align: center;"><img src="/images/Interests.jpg" alt="Fail" width= 60%/></div>
      {%- elsif page.category == "About" -%}
      <div style="text-align: center;"><img src="/images/About.png" alt="Fail"/></div>
      {%- elsif page.category == "Life" -%}
      <div style="text-align: center;"><img src="/images/Life.jpg" alt="Fail" width= 60%/></div>
      {%- elsif page.category == "Vision2022" -%}
      <div style="text-align: center;"><img src="/images/Vision2022.jpg" alt="Fail" width= 60%/></div>
      {%- endif -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
